﻿
*{
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
html {
    height: 100%;
}
    body main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

        body main .left-content {
            flex: 1;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            body main .left-content .menu-items-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-top: 80px;
            }
                body main .left-content .menu-items-container .menu-item {
                    width: 285px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    background: rgba(143,5,20, 0.8);
                    color: white;
                    font-weight: bold;
                    margin-bottom: 20px;
                    border-radius: 22px;
                    padding: 8px;
                    padding-left: 22px;
                    height: 24px;
                }
                body main .menu-item {
                    cursor: pointer;
                }
                    body main .left-content .menu-items-container .menu-item span {
                        font-size: 1.5em;
                        font-family: 'Open sans';
                        font-weight: 600;
                        color:white;
                    }
                    body main .left-content .menu-items-container .menu-item-icon .icon {
                        fill: rgba(143,5,20, 0.8);
                    }


        body main .center-content {
            flex: 1;
            height: 100%;
            border-left: solid 1px rgba(143,5,20, 0.2);
            border-right: solid 1px rgba(143,5,20, 0.2);
        }
            body main .center-content .create-post-container {
                height: max-content;
                border-bottom: solid 1px rgba(143,5,20, 0.2);
                padding: 50px;
                padding-bottom: 25px;
                padding-top: 25px;
            }


body main .center-content .create-post-container .user-image-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
                body main .center-content .create-post-container .post-container .post-card .user-image-and-name .post-image {
                    width: 100%;
                    object-fit: cover;
                }
                    body main .center-content .create-post-container  form {
                        display: flex;
                        flex-direction: column;
                    }
                body main .center-content .create-post-container form .publish-button {
                    align-self: flex-end;
                    background: rgba(143,5,20, 0.8);
                    color: white;
                    font-family: 'Poppins';
                    font-size: 0.9rem;
                    height: 30px;
                    width: 150px;
                    border-radius: 22px;
                    border: none;
                    cursor: pointer;
                }

                    body main .center-content .create-post-container .user-image-and-name img {
                      
                        height: 50px;
                        width: 52px;
                        object-fit: cover;
                        border-radius: 53px;
                    }
                    body main .center-content .create-post-container .user-image-and-name span {
                        font-family: 'Poppins', light;
                        color: rgb(92, 92, 92);
                        margin-left: 14px;
                    }
                        body main .right-content {
                            height: 100%;
                            flex: 1;
                        }



            body main .center-content .create-post-container .input-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: max-content;
                margin-top: 11px;
            }
            body main .center-content .create-post-container .input-container textarea {
                width: 100%;
                height: 50px;
                border: none;
                resize: none;
                padding: 10px;
                font-family: 'Poppins', light;
                font-weight:600;
            }
            body main .center-content .create-post-container .input-container textarea:focus {
               outline:none;
            }

        body main .center-content .post-container {
            margin-top: 35px;
        }
            body main .center-content .post-container .post-card {
                border-bottom: solid 1px rgba(143,5,20, 0.2);
                border-top: solid 1px rgba(143,5,20, 0.2);
            }
            body main .center-content .post-container .post-card .user-image-and-name {
                
                padding: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
                body main .center-content .post-container .post-card .user-image-and-name img {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 31px;
              
            }

                body main .center-content .post-container .post-card .user-image-and-name span {
                    margin-left: 15px;
                    font-size: 1.2rem;
                    font-family: 'Poppins', light;
                    color: rgb(92, 92, 92);
                   
                }
                body main .center-content .post-container .post-card .description{

                }
                    body main .center-content .post-container .post-card .description p {
                        padding: 20px;
                    }