﻿<!DOCTYPE html>
<html>

<head>
    <title>Social Media</title>
    <link type="text/css" rel="stylesheet" href="~/css/loginPage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div class="title">
            <h1>Social Media</h1>
            <form asp-action="HomePage" asp-controller="HomePage">
                <div class="login-input-container">
                    <label>Email:</label>
                    <input type="email" name="email" class="input-text" />
                </div>
                <div class="login-input-container">
                    <label>Senha:</label>
                    <input type="password" name="email" class="input-text" />
                </div>

                <div class="login-button-container">
                    <button type="submit">Entrar</button>

                </div>
            </form>


        </div>
        <footer>
            <span>Ainda não tem uma conta?</span> <a asp-action="UserRegister" asp-controller="User">Cadastre-se</a>
        </footer>

    </main>

</body>

</html>
